<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <%- include src/templates/partials/head -%>
</head>
<body>
  <%- include src/templates/partials/header -%>
  <%- include src/templates/partials/service -%>
  <%- include src/templates/partials/works -%>
  <%- include src/templates/partials/about -%>
  <%- include src/templates/partials/contact -%>
  <%- include src/templates/partials/footer -%>
  <%- include src/templates/partials/suspension -%>
</body>
</html>
